@*Estabelecer a relação entre a View e o Model do projeto*@

@model Employee

@*Definir o nome da View*@

@{
    ViewData["Title"] = "Create";
}

@* Agora, abaixo, será definida a html da view*@
@* Criar link entre as view Create e Index*@

<h2>Create</h2>

@* Método Post de envio de dados *@
<form method="post">

    @*asp-for e da técnologia Asp.net
      vincular as propriedades do model 
    *@
    <p>
        <label asp-for = "Name">Nome </label>
        <input asp-for="  Name"/>
        <span asp-validation-for="Name"></span>
    </p>

    <p>
        <label asp-for="Age">Idade</label>
        <input asp-for="Age   "   />
        <span asp-validation-for="Age"></span>
    </p>

    <p>
        <label asp-for="Salary">Salário </label>
        <input asp-for="Salary"/>
        <span asp-validation-for="Salary"></span>
    </p>

    <p>
        <label asp-for="Department">Departamento</label>
        <select asp-for="Department">
            <option value="Development">Desenvolvedor</option>
            <option value="Finance">Financeiro</option>
            <option value="HR">Recursos Humanos</option>
        </select>
    </p>

    <p>
        <label asp-for="Gen">Genero:</label>
        <input type="radio" asp-for="Gen" value="M" /> Masculino
        <input type="radio" asp-for="Gen" value="F"/> Feminino
        <input type="radio" asp-for="Gen" value="Ot"/> Outros
        <span asp-validation-for="Gen"></span>
    </p>

    <p>
        <button type="submit">Salvar</button>
    </p>
</form>
<a asp-action="Index">Listar Registros</a>