
@*
    Estabelecer uma relação com o Model
*@

@model Employee

@* Dar um nome para a nossa view*@

@{
    ViewData["Title"] = "Thanks";
}

@* Establecer a estrutura html para ser exibida na nossa tela *@
@* Criar um link de navegação entre a view thanks e a view index*@

<div class="thanks">
<h2 >Thanks(Muito Obrigado), @Model.Name, <br />Amigo, tô sabendo que você tem @Model.Age anos !</h2>
</div>
<a asp-action="Create">Criar Outro Registro</a>
<br />
<a asp-action="Index">Listar Registros</a>
