@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao meu projeto MVC</h1>
    <p>Este projeto esta integrado com um DataBase. É um WebApp FullStack.</p>
</div>
