@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class=" fw-bold display-4">Bem-Vindo ao meu projeto MVC</h1>
    <p class="text-decoration-underline">Este projeto esta integrado com um DataBase. É um WebApp FullStack.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
</div>
