@* ==== Estabelecer relação entre a View e Model ====*@

@* ---> porém não há model até este momento, no entanto, a Action Restrita()
    retorna um objeto do tipo string, que neste contexto pode ser considerado
    o elemento com um padrão/valor a ser exibido pela View.
*@

@model string


@{
    ViewData["Title"] = "Área Restrita";
}

@* === Definir a estrutura Html necessária ===*@

<h2 class=" fw-bold shadow p-3 mb-5 bg-blue rounded text-center bg-primary text-white">@ViewData["Title"]</h2>
@* ===== Esse Model abaixo , exibe o valor da propriedade necessária  =====*@
@Model

@* --- Verificar se existe algum usuario logado para que, então possa ser chamada a action de logout --- *@

@if (User?.Identity.IsAuthenticated ?? false)
{
    <div class="d-flex justify-content-end">
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">
            Logout
        </a>    
    </div>
}

<a asp-controller ="Admin" asp-action="Index" class=" text-center btn btn-secondary">Usuarios Cadastrados</a>
<a asp-controller="Admin" asp-action="Create" class="btn btn-secondary">Criar Usuário</a>
<div class="text-center">
    <img src="~/Bem_vindo_2.png" width="500" height="500" />
</div>

<br />
<br />

